@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-purple to-brand-pink;
    }
}

body {
    background: linear-gradient(180deg, #FDFBFF 0%, #F4F1FD 100%);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}
